
*{
    font-family: muli, sans-serif;
font-weight: 400;
font-style: normal;
border: 0px solid red;
margin: 0px;
}

/* content */
header{
    display: flex;
    font-size: 25px;
    margin-top: 20px;
    
}
.my{
    margin-left: 10px;
    padding-left: 10px;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 10px 0px 0px 30px;
    cursor: pointer;
}
.shop{
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.container{
    margin-top: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}
h3{
    margin-top: 20px;
    text-align: center;
}
img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.product1,.product2,.product3{
    width:400px;
}
.image{
    max-height: 350px;
}
.imagediv{
    display: flex;
    justify-content: center;
}
.buttons{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.star{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.like{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.star>input{
    margin-right:5px;
}
.like>input{
    margin-right:5px;
}
.buttonp{
    margin-left: 5px;
    color: gray;
}
.button{
    width: 20px;
    height: 20px;
}
.buttonp,.button{
    display: inline-block;
}
.shop-buttons{
    display: flex;
    justify-content:center;
    margin-top: 10px;
}

.cart{
    color: white;
    background-color: black;
    height: 35px;
    width: 80px;
    font-weight: bold;
    border: 0px;
    position: relative;
    right: 5px;
}
.cart:hover{
    background-color: gray;
}
.view{
    background-color: white;
    height: 35px;
    width: 80px;
    font-weight: bold;
    border: 2px solid black;
    position: relative;
    left: 5px;
}
.view:hover{
    background-color: gray;
    color: white;
}
.description{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 300px;
    color: gray;
}
.text{
    display: flex;
    justify-content: center;
    font-size: 15px;
}


