<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Layouting</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="title">
      <div class="txt1">Contact us</div>
      <div class="txt2">Feel free to contact us</div>
    </header>
    <div class="container">
      <div class="box">
        <div class="leftfields">
          <label for="name">Name</label>
          <input type="text" placeholder="Name" />

          <label for="name">Email</label>
          <input type="text" placeholder="Name" />

          <label for="name">Subject</label>
          <input type="text" placeholder="Name" />
        </div>
        <div class="rightfields">
          <label for="message">Message</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
          <input type="submit" value="Send message" class="send" />
        </div>
      </div>
      <div class="social">Or find us on social media</div>
      <div class="platforms">
        <span>Facebook</span>
        <span>Twitter</span>
        <span>Instagram</span>
      </div>
    </div>
  </body>
</html>
